name: build

on:
  push:
    branches:
      - 'main'
  pull_request:
    branches:
      - 'main'

jobs:
    test:
        name: "Test (PHP ${{ matrix.php-versions }})"

        strategy:
            fail-fast: false
            matrix:
                php-versions: ['8.2', '8.3', '8.4']

        runs-on: ubuntu-latest

        steps:
            - name: Checkout
              uses: actions/checkout@v2
              with:
                  path: ${{ env.FLOW_FOLDER }}

            - name: Setup PHP
              uses: shivammathur/setup-php@v2
              with:
                  php-version: ${{ matrix.php-versions }}
                  extensions: mbstring, xml, json, zlib, iconv, intl, pdo_sqlite
                  ini-values: date.timezone="Africa/Tunis", opcache.fast_shutdown=0, apc.enable_cli=on

            - name: Install
              run: composer install

            - name: Run Tests
              run: composer test
